<div class="home_section">
  <%= render  'home' %>
</div>
<div class="projects_section">
  <%= render 'projects' %>
</div>
<div class="summary_section">
  <%= render 'summary' %>
</div>
<div class="contact_section">
  <%= render 'contact' %>
</div>
